<div class="row mb-5 pb-5 align-items-center">
    <% if(homeArticle == "") { %>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolore dolorum earum, est facilis harum nemo tempora ullam ut? Consequuntur doloribus dolorum et fuga fugit nostrum, omnis quam. Iusto, mollitia.
            </p>
            <p class="h4">By John Smith</p>
            <h3 class="h1">Crafting Wood Art</h3>
            <a href="/" class="btn btn-outline-brown">Learn More</a>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
            <img src="https://images.unsplash.com/photo-1470342495351-a5f90c5011cd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 class="w-100 h-100 rounded shadow-lg"
                 alt="Crafting Wood Art"
            />
        </div>
    <% } else { %>
       <% for(i=0; i < homeArticle.length; i++) { %>
             <div class="col-lg-5 col-md-6 col-sm-12">
                    <p class="text-muted">
                        <%= homeArticle[i].body.substring(0, 310) %>.
                    </p>
                    <p class="h4">By <%= homeArticle[i].name %></p>
                    <h3 class="h1"><%= homeArticle[i].title %></h3>
                    <a href="<%= homeArticle[i].title %>" target="_blank" class="btn btn-outline-brown">Learn More</a>
             </div>
             <div class="col-lg-7 col-md-6 col-sm-12">
                    <img src="<%= homeArticle[i].image %>"
                         class="w-100 h-100 rounded shadow-lg"
                         loading="lazy"
                         alt="<%= homeArticle[i].title %>"
                    />
             </div>
       <% } %>
    <% } %>
</div>