<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<!--main body-->
<main class="container" style="margin-top: 140px;">
    <h1 class="text-center mb-5 display-4 fw-bold">Welcome to our blogs page</h1>
    <%- include('partials/articles/blogs-data') -%>
</main>
<!--main body-->
<%- include('layouts/footer') -%>
</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>