<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<header itemscope itemid="page introduction" itemprop="">
    <section itemid="introduction">
        <%- include('partials/home/intro') -%>
    </section>
</header>
<main class="container mt-5 pt-5">
    <div id="homeArticle"></div>
    <section>
        <div>
            <%- include('partials/home/article') -%>
        </div>
    </section>
    <section>
        <div>
            <div id="about"></div>
            <%- include('partials/home/features') -%>
        </div>
    </section>
    <section>
        <div>
            <%- include('partials/home/about') -%>
        </div>
    </section>
    <div id="homeSubscription"></div>
</main>
<section>
    <div>
        <%- include('partials/home/subscribe') -%>
    </div>
</section>
<main class="container mt-5 pt-5">
    <section>
        <div>
            <%- include('partials/home/crafting-art') -%>
        </div>
    </section>
    <section>
        <div>
            <%- include('partials/home/blogs') -%>
        </div>
    </section>
</main>
<%- include('layouts/footer') -%>
</body>
<%- include('layouts/scripts') -%>
</html>