<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<!--main body-->
<%- include('partials/projects/project-data') -%>
<!--main body-->
<%- include('layouts/footer') -%>
</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>