<% if(subscription == "") { %>
<p>Default home subscription showing</p>
<img src="/assets/homesubscriptionImage.png" height="110" width="210" loading="lazy" alt="Default home subscription showing" />
<% } else { %>
    <% for(i=0; i < subscription.length; i++) { %>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= subscription[i].title %>
                <a href="/#homeSubscription">
                    <i class="fab fa-readme"></i>
                </a>
                <br>
                Delete content <a href="/delete/homeSubscription/<%= subscription[i]._id %>">
                   <i class="fas fa-trash-alt"></i>
                </a>
            </li>
            <li class="list-group-item"><%= subscription[i].subheading %>
            </li>
            <li class="list-group-item">
                <img src="<%= subscription[i].image %>" height="110" width="220" loading="lazy" alt="<%= subscription[i].title %>" />
            </li>
        </ul>
    <% } %>
<% } %>